<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>收银员对账</title>
		<link rel="stylesheet" href="__PEAR__/component/pear/css/pear.css" />
		<style>
		.layui-input{width:150px;}
		.layui-form-label{width:auto;}
		.layui-form-item .layui-input-inline{width: 150px;}
		.inputdiv{display:flex;height: 38px;line-height: 38px;}
		.inputdiv i{position:absolute;right:10px;}
		.layui-table-cell .layui-table-link {color: #ff6a08!important;}}
		</style>
	</head>
	<body class="pear-container">
		<div class="layui-card">
			<div class="layui-card-body">
				<form class="layui-form" action="" id="searchform">
					<div class="layui-form-item">
					
					<div class="layui-row">
						<div class="layui-form-item layui-inline" id="date-range">
							<label class="layui-form-label">日期范围</label>
							<div class="layui-input-inline">
					          <input type="text" name="start" value="{php}echo date('Y-m-d');{/php}" autocomplete="off" id="start-date" class="layui-input" placeholder="开始日期">
					        </div>
					        <div class="layui-form-mid">-</div>
					        <div class="layui-input-inline">
					          <input type="text" name="end" value="{php}echo date('Y-m-d');{/php}" autocomplete="off" id="end-date" class="layui-input" placeholder="结束日期">
					        </div>
						</div>
						<div class="layui-form-item layui-inline">
							<label class="layui-form-label">快速设置</label>
							<div class="layui-input-inline">
								<select lay-filter="getdate">
									<option value="0">全部</option>
									<option value="1">今天</option>
									<option value="2">昨天</option>
									<option value="3">本周</option>
									<option value="4">上周</option>
									<option value="5">本月</option>
									<option value="6">上月</option>
									<option value="7">本季</option>
									<option value="8">上季</option>
									<option value="9">今年</option>
								</select>
							</div>
						</div>
						
					</div>
					
					<div class="layui-row">
						<div class="layui-form-item layui-inline">
								<label class="layui-form-label">分店仓库</label>
								<div class="layui-input-inline inputdiv">
									<input type="text" name="branch_no" id="branch_no" autocomplete="off" value="" placeholder="" class="layui-input" onfocus="showBranchs()">
									<i class="layui-icon layui-icon-home"></i>
								</div>
						</div>
						<div class="layui-form-item layui-inline">
							<label class="layui-form-label">营业员号</label>
							<div class="layui-input-inline inputdiv">
								<input type="text" name="oper_id" id="operator" placeholder=""  autocomplete="off" class="layui-input" onfocus="showOperators()">
								<i class="layui-icon layui-icon-username"></i>
							</div>
						</div>
					
					</div>
					
					<div class="layui-row">
						
						<div class="layui-form-item layui-inline">
							<label class="layui-form-label">付款方式</label>
							<div class="layui-input-inline">
								<select name="payflag" id="payflag" lay-filter="payflag">
									<option value="">全部</option>
									{volist name="payment" id="vo"}
									<option value="{$vo.pay_way}">{$vo.pay_name}</option>
									{/volist}
								</select>
							</div>
						</div>
						
						<div class="layui-form-item layui-inline">
							<div class="layui-input-inline" style="width:300px;">
								<input type="radio" name="recflag" lay-filter="pos" value="1" title="收银员对账" checked>
								<input type="radio" name="recflag" lay-filter="pos" value="2" title="前台收银员对账记录" >
								<input type="hidden" id="switchflag" value="1"  >
							</div>
						</div>
						
						<div class="layui-form-item layui-inline">
							<button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="recon-query">
								<i class="layui-icon layui-icon-search"></i>
								查询
							</button>
							<button type="reset" class="pear-btn pear-btn-md">
								<i class="layui-icon layui-icon-refresh"></i>
								重置
							</button>
							<a class="pear-btn pear-btn-warming pear-btn-md" onclick="exportxls()">
							<i class="pear-icon pear-icon-chart-bar"></i>
							导出报表
							</a>
						</div>
					</div>
					
					</div>
					
				</form>
			</div>
		</div>
		<div class="layui-card">
			<div class="layui-card-body" id="recon-body1">
				<table id="recon1-table" lay-filter="recon1-table"></table>
			</div>
			
			<div class="layui-card-body" id="recon-body2" style="display:none;">
				<table id="recon2-table" lay-filter="recon2-table" ></table>
			</div>
		</div>
		<script type="text/html" id="totalTpl">
			{{#  if(d.convert_amt!==undefined){ }}
    			<span style="color: #008000;">{{ d.convert_amt }}</span>
			{{#  } else { }}
    			
  			{{#  } }}
		</script>
		<script type="text/html" id="amountTpl">
			{{#  if(d.pay_amount!==undefined){ }}
    			<span style="color: #008000;">{{ d.pay_amount }}</span>
			{{#  } else { }}
    			
  			{{#  } }}
		</script>
		<script src="__STATIC__/lib/layui/layui.js"></script>
		<script src="__PEAR__/component/pear/pear.js"></script>
		<script src="__STATIC__/js/admin/common.js"></script>
		<script>
			var branch_no="";
			var _layerIndex=null;
			var operator_url="{:U('Controls/operators')}";
			var branchs_url="{:U('Controls/branchs')}";
			
			layui.use(['table', 'form', 'jquery','common','laydate','treetable'], function() {
				let table = layui.table;
				let form = layui.form;
				let $ = layui.jquery;
				let common = layui.common;
				let laydate = layui.laydate;
				let treetable = layui.treetable;
				
			  	laydate.render({
					    elem: '#date-range'
					    ,range: ['#start-date', '#end-date']
			    });

				let DATA_PATH = "/{$MODULE_NAME}/pos/payflow/";
				
				//收银员对账 列
				let cols1 = [
					[
						{
							title: '序号',
							field: 'rowIndex',
							align: 'left',
							width: 80
						},
						{
							title: '门店编号',
							field: 'branch_no',
							align: 'left',
							totalRowText: '门店总计',
							width: 150
						},
						{
							title: '门店名称',
							field: 'branch_name',
							align: 'left',
							width: 150
						},
						{
							title: '收银员编码',
							field: 'oper_id',
							align: 'left',
							width: 100
						},
						{
							title: '收银员姓名',
							field: 'oper_name',
							align: 'left',
							width: 180
						},
						{
							title: '销售方式',
							field: 'pay_name',
							align: 'left',
							width: 100
						},
						{
							title: '收款方式',
							field: 'sale_name',
							align: 'left',
							width: 120
						},
						{
							title: '金额',
							field: 'pay_amount',
							align: 'center',
							totalRow: true,
							templet: '#amountTpl',
							width: 120
						},
						{
							title: '折人民币',
							field: 'convert_amt',
							align: 'center',
							totalRow: true,
							templet: '#totalTpl',
							width: 100
						}
					]
				]
				;
				
				//前台收银员对账记录 列
				let cols2 = [
					[
						{
							title: '序号',
							field: 'rowIndex',
							align: 'left',
							width: 80,
						},
						{
							title: '门店编号',
							field: 'branch_no',
							align: 'left',
							width: 100
						},
						{
							title: '门店名称',
							field: 'branch_name',
							align: 'left',
							width: 100
						},
						{
							title: 'POS机编号',
							field: 'pos_id',
							align: 'left',
							width: 100
						},
						{
							title: '收银员编码',
							field: 'oper_id',
							align: 'left',
							width: 180
						},
						{
							title: '收银员姓名',
							field: 'oper_name',
							align: 'left',
							width: 100
						},
						{
							title: '对账日期',
							field: 'oper_date',
							align: 'left',
							width: 120
						},
						{
							title: '首笔交易',
							field: 'start_time',
							align: 'left',
							width: 120
						},
						{
							title: '末笔交易',
							field: 'end_time',
							align: 'center',
							width: 100
						},
						{
							title: '交易金额',
							field: 'sale_amt',
							align: 'center',
							width: 100
						},
						{
							title: '对账金额',
							field: 'hand_amt',
							align: 'center',
							width: 100
						}
					]
				]
				;
				
				window.render = function(_where={}){
					treetable.render({
		                treeColIndex: 1,
		                treeSpid: 0,
		                treeIdName: 'powerId',
		                treePidName: 'parentId',
		                skin:'line',
		                method:'post',
		                where:_where,
		                treeDefaultClose: false,
		                elem: '#recon1-table',
		                url: DATA_PATH+"reconData",
		                page: false,
		                cols: cols1
		            });
		        }
				
				render($('#searchform').serialize());
				
				//单选事件
				form.on('radio(pos)', function(data){

				  if(data.value==1){
					  $("#payflag").attr("disabled",false);
					  $("#recon-body2").hide();
					  $("#recon-body1").show();
					  $("#switchflag").val(1);
				  }else{
					  $("#payflag").val("");
					  $("#payflag").attr("disabled","disabled");
					  $("#recon-body1").hide();
					  $("#recon-body2").show();
					  $("#switchflag").val(2);
					  
					  table.render({
							elem: '#recon2-table',
							url: DATA_PATH+"reconSaleData",
							page: true,
							cols: cols2,
							height:600,
							skin: 'line',
							toolbar: '',
							defaultToolbar: []
						});
						
				  }
				  
				  	form.render('select');
				}); 

				form.on('select(getdate)', function(data) {
					date = new Array(2);
					var selc=parseInt(data.value);
		            switch (selc)
		            {
		            	case 1://当前天
	                    	date[0] = '{php}echo date('Y-m-d');{/php}';
	                    	date[1] = '{php}echo date('Y-m-d');{/php}';
	                    break;
		                case 2://昨天
		                    date[0] = '{php}echo date('Y-m-d', strtotime('-1 day'));{/php}';
		                    date[1] = '{php}echo date('Y-m-d', strtotime('-1 day'));{/php}';
		                    break;
		                case 3://本周
		                    date[0] = '{php}echo date('Y-m-d', mktime(0, 0 , 0,date("m"),date("d")-date("w")+1,date("Y")));{/php}';
		                    date[1] = '{php}echo date('Y-m-d', mktime(23,59,59,date("m"),date("d")-date("w")+7,date("Y")));{/php}';
		                    break;
		                case 4://上周
		                    date[0] = '{php}echo date('Y-m-d', mktime(0, 0 , 0,date("m"),date("d")-date("w")+1-7,date("Y")));{/php}';
		                    date[1] = '{php}echo date('Y-m-d', mktime(23,59,59,date("m"),date("d")-date("w")+7-7,date("Y")));{/php}';
		                    break;
		                case 5://本月
		                    date[0] = '{php}echo date('Y-m-d', mktime(0, 0 , 0,date("m"),1,date("Y")));{/php}';
		                    date[1] = '{php}echo date('Y-m-d', mktime(23,59,59,date("m"),date("t"),date("Y")));{/php}';
		                    break;
		                case 6://上月
		                    date[0] = '{php}echo date('Y-m-d', mktime(0, 0 , 0,date("m")-1,1,date("Y")));{/php}';
		                    date[1] = '{php}echo date('Y-m-d',mktime(23,59,59,date("m") ,0,date("Y")));{/php}';
		                    break;
		                case 7://本季度
		                    date[0] = '{php}echo date('Y-m-d', mktime(0, 0,0,ceil((date('n'))/3)*3-3+1,1,date('Y')));{/php}';
		                    date[1] = '{php}echo date('Y-m-d', mktime(23,59,59,ceil((date('n'))/3)*3,date('t',mktime(0, 0 ,0,ceil((date('n'))/3)*3,1,date("Y"))),date('Y')));{/php}';
		                    break;
		                case 8://上季度
		                    date[0] = '{php}echo date('Y-m-d', mktime(0, 0,0,(ceil((date('n'))/3)-1)*3-3+1,1,date('Y')));{/php}';
		                    date[1] = '{php}echo date('Y-m-d', mktime(23,59,59,(ceil((date('n'))/3)-1)*3,date('t',mktime(0, 0 ,0,(ceil((date('n'))/3)-1)*3,1,date("Y"))),date('Y')));{/php}';
		                    break;
		                case 9://本年
		                    date[0] = '{php}echo date('Y-01-01');{/php}';
		                    date[1] = '{php}echo date('Y-12-31');{/php}';
		                    break;
		            }
		            $('#start-date').val( date[0]);
	                $('#end-date').val(date[1]);
				});
				
				form.on('submit(recon-query)', function(data) {

					var switchflag=$("#switchflag").val();
					
					if(switchflag==1){
						render(data.field);
						
					}else{
						table.reload('recon2-table', {
							where: data.field,
							page:{curr:1}
						});
					}
				
					return false;
				});
				
				//显示分店选择框
				window.showBranchs=function(){
					_layerIndex=openWin("分店仓库选择",branchs_url,"800px","600px");
				}
				
				//门店选择后的回调函数
				window.callBackBranch=function(data){
					
					var arr=new Array();
					for(var i in data){
						arr.push(data[i]['branch_no']);
					}
					
					$("#branch_no").val(arr.join(","));
					
					if(_layerIndex!=null){
						layer.close(_layerIndex);
					}
					_layerIndex=null;
				}
				
				//显示操作员选择框
				window.showOperators=function(){
					var oval=$("#operator").val();
					
					if(_layerIndex==null||oval==''){
						_layerIndex=openWin("营业员选择",operator_url,"800px","600px");
					}
				}
				
				//操作员选择后的回调函数
				window.callBackOprator=function(data){
					
					$("#operator").val(data[0]['oper_id']);
					
					if(_layerIndex!=null){
						layer.close(_layerIndex);
						_layerIndex=null;
					}
				}

				//导出报表
				window.exportxls=function(){
					var param=$('#searchform').serialize();
					window.location.href="/{$MODULE_NAME}/pos/payflow/export?"+param;
				}
				
				window.refresh = function(param) {
					table.reload('recon-table');
				}
			})
		</script>
	</body>
</html>
