
<div class="layui-row adrows" id="view_text" style="display:none;">
 <div class="layui-form-item">
 	<div class="layui-col-md6">
   <label class="layui-form-label">文字内容</label>
   <div class="layui-input-inline">
     <input type="text" id="attr_text_title" name="attr_text_title" value="{$attr['attr_text_title']|default=''}" autocomplete="off" class="layui-input longtxt">
   </div>
   </div>
   
 </div>
 
 <div class="layui-form-item">
 	<div class="layui-col-md12">
   <label class="layui-form-label">链接地址</label>
   <div class="layui-input-inline">
     <input type="text" id="attr_text_link" name="attr_text_link" value="{$attr['attr_text_link']|default=''}" autocomplete="off" class="layui-input longtxt">
   </div>
   </div>
 </div>
 
 <div class="layui-form-item">
 	<div class="layui-col-md12">
   <label class="layui-form-label">文字大小</label>
   <div class="layui-input-inline">
     <input type="text" id="attr_text_font" name="attr_text_font" value="{$attr['attr_text_font']|default=''}" placeholder="如：12px" autocomplete="off" class="layui-input">
   </div>
   </div>
 </div>
 
  <div class="layui-form-item">
 	<div class="layui-col-md12">
   <label class="layui-form-label">文字颜色</label>
   <div class="layui-input-inline">
        <input type="text" name="attr_text_color" value="{$attr['attr_text_color']|default=''}" placeholder="请选择颜色" class="layui-input" id="attr_text_color-input">
      </div>
      <div class="layui-inline" style="left: -11px;">
        <div id="attr_text_color"></div>
      </div>
   </div>
 </div>
 
  <div class="layui-form-item">
 	<div class="layui-col-md12">
   <label class="layui-form-label">链接目标</label>
   <div class="layui-input-inline">
     <input title="新窗口" type="radio" name="attr_text_target" value="_blank" {if condition="$attr['attr_text_target'] eq '_blank'"}checked="checked"{/if} autocomplete="off" class="layui-input">
     <input title="原窗口" type="radio" name="attr_text_target" value="_self" {if condition="$attr['attr_text_target'] eq '_self'"}checked="checked"{/if} autocomplete="off" class="layui-input"> 
   </div>
   </div>
 </div>
 </div>
 
 