<div class="layui-row adrows" id="view_code" style="display:none;">
<div class="layui-form-item">
				  	<div class="layui-col-md12">
				    <p style="color:#ff6a08;text-align:center;"> * 建议点击编辑器右上角 "全屏" 图标，使用全屏模式编辑</p>
				    </div>
				  	<div class="layui-col-md12">
				    <label class="layui-form-label">广告代码</label>
				    <div class="layui-input-inline" style="width: 660px; height: 400px;">
				    	<script id="editor" name="ad_code"  type="text/plain" style="width: 660px; height: 400px;"></script>
				    </div>
				    </div>

</div>
</div>