<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>供应商列表</title>
		<link rel="stylesheet" href="__PEAR__/component/pear/css/pear.css" />
		<style>
		.layui-input{width:250px;}
		.layui-form-label{width:auto;}
		.layui-form-item .layui-input-inline{width: 250px;}
		</style>
	</head>
	<body class="pear-container">
		<div class="layui-card">
			<div class="layui-card-body">
				<form class="layui-form" action="">
					<div class="layui-form-item">
						<div class="layui-form-item layui-inline">
							<label class="layui-form-label">关键词</label>
							<div class="layui-input-inline">
								<input type="text" name="sp_name" placeholder="请输入供应商名称/编号/公司名称" class="layui-input">
							</div>
						</div>
						
						<div class="layui-form-item layui-inline">
							<button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="suplist-query">
								<i class="layui-icon layui-icon-search"></i>
								查询
							</button>
							<button type="reset" class="pear-btn pear-btn-md">
								<i class="layui-icon layui-icon-refresh"></i>
								重置
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="layui-card">
			<div class="layui-card-body">
				<table id="suplist-table" lay-filter="suplist-table"></table>
			</div>
		</div>

		<script type="text/html" id="suplist-toolbar">
			<button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
		        <i class="layui-icon layui-icon-add-1"></i>
		        新增
		    </button>
		    <button class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
		        <i class="layui-icon layui-icon-delete"></i>
		        删除
		    </button>
		</script>

		<script type="text/html" id="suplist-bar">
			<button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i></button>
		    <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i></button>
			<button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="more" title="查看产品"><i class="icon pear-icon pear-icon-menu"></i></button>
		</script>

		<script type="text/html" id="suplist-enable">
			<input type="checkbox" name="enable" value="{{d.id}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="user-enable" checked = "{{ d.enable == 0 ? 'true' : 'false' }}">
		</script>

		<script type="text/html" id="suplist-createTime">
			{{layui.util.toDateString(d.createTime, 'yyyy-MM-dd')}}
		</script>

		<script src="__STATIC__/lib/layui/layui.js"></script>
		<script src="__PEAR__/component/pear/pear.js"></script>
		<script>
			layui.use(['table', 'form', 'jquery','common'], function() {
				let table = layui.table;
				let form = layui.form;
				let $ = layui.jquery;
				let common = layui.common;

				let MODULE_PATH = "/{$MODULE_NAME}/Supcust/";

				let cols = [
					[	{
							type: 'checkbox'
						},
						{
							title: '供应商编码',
							field: 'sp_no',
							align: 'center',
							width: 100
						},
						{
							title: '供应商名称',
							field: 'sp_name',
							align: 'center',
							width: 200
						},
						{
							title: '公司名称',
							field: 'sp_company',
							align: 'center',
							width: 200
						},
						{
							title: '联系人',
							field: 'sp_cp_person',
							align: 'center'
						},
						{
							title: '联系电话',
							field: 'sp_mobile',
							align: 'center'
						},
						{
							title: '操作',
							toolbar: '#suplist-bar',
							align: 'center',
							width: 150
						}
					]
				]

				table.render({
					elem: '#suplist-table',
					url: MODULE_PATH+"supcustList",
					page: true,
					cols: cols,
					skin: 'line',
					toolbar: '#suplist-toolbar',
					defaultToolbar: []
				});

				table.on('tool(suplist-table)', function(obj) {
					if (obj.event === 'remove') {
						window.remove(obj);
					} else if (obj.event === 'edit') {
						window.edit(obj);
					}else if (obj.event === 'more') {
						window.seeproduct(obj);
					}
				});

				table.on('toolbar(suplist-table)', function(obj) {
					if (obj.event === 'add') {
						window.edit(null);
					} else if (obj.event === 'refresh') {
						window.refresh();
					} else if (obj.event === 'batchRemove') {
						window.batchRemove(obj);
					}
				});

				form.on('submit(suplist-query)', function(data) {
					table.reload('suplist-table', {
						where: data.field,
						page:{curr:1}
					})
					return false;
				});

				form.on('switch(suplist-enable)', function(obj) {
					layer.tips(this.value + ' ' + this.name + '：' + obj.elem.checked, obj.othis);
				});
				
				//查看产品
				window.seeproduct=function(obj){
					parent.layui.admin.jump(30,"供应商产品",MODULE_PATH+'product/sp_no/'+obj.data.sp_no);
				}

				window.edit = function(obj) {
					var _title='添加供应商';
					if(obj!=null){
						var sp_id=obj.data.sp_id;
							_title="编辑供应商";
					}
					
					layer.open({
						type: 2,
						title: _title,
						shade: 0.1,
						area: ['450px', '450px'],
						content: MODULE_PATH + 'edit/sp_id/'+sp_id+'.html'
					});
					
				}
				
				window.remove = function(obj) {
					layer.confirm('确定要删除该供应商?', {
						icon: 3,
						title: '删除提示'
					}, function(index) {
						layer.close(index);
						let loading = layer.load();
						$.ajax({
							url: MODULE_PATH + "delSup/sp_id/" + obj.data['sp_id'],
							dataType: 'json',
							type: 'delete',
							success: function(result) {
								layer.close(loading);
								if (result.code) {
									layer.msg(result.msg, {
										icon: 1,
										time: 1000
									}, function() {
										obj.del();
									});
								} else {
									layer.msg(result.msg, {
										icon: 2,
										time: 1000
									});
								}
							}
						})
					});
				}

				window.batchRemove = function(obj) {
					
					var checkIds = common.checkField(obj,'sp_id');
					
					if (checkIds === "") {
						layer.msg("未选中数据", {
							icon: 3,
							time: 1000
						});
						return false;
					}
					
					layer.confirm('确定要删除这些供应商?', {
						icon: 3,
						title: '提示'
					}, function(index) {
						layer.close(index);
						let loading = layer.load();
						$.ajax({
							url: MODULE_PATH + "delSup/sp_id/" + checkIds,
							dataType: 'json',
							type: 'delete',
							success: function(result) {
								layer.close(loading);
								if (result.code) {
									layer.msg(result.msg, {
										icon: 1,
										time: 1000
									}, function() {
										table.reload('suplist-table');
									});
								} else {
									layer.msg(result.msg, {
										icon: 2,
										time: 1000
									});
								}
							}
						})
					});
				}
				
				window.refresh = function(param) {
					table.reload('suplist-table');
				}
			})
		</script>
	</body>
</html>
