<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>新闻管理</title>
		<link rel="stylesheet" href="__PEAR__/component/pear/css/pear.css" />
		<style>
		.layui-input{width:130px;}
		.layui-form-label{width:auto;}
		.layui-form-item .layui-input-inline{width: 130px;}
		.layui-table-cell{height:auto !important}
		</style>
	</head>
	<body class="pear-container">
		<div class="layui-card">
			<div class="layui-card-body">
				<form class="layui-form" action="">
					<div class="layui-form-item">
						<div class="layui-form-item layui-inline">
							<label class="layui-form-label">新闻名称</label>
							<div class="layui-input-inline">
								<input type="text" name="title" placeholder="" class="layui-input">
							</div>
						</div>
						
						<div class="layui-form-item layui-inline">
							<label class="layui-form-label">新闻分类</label>
							<div class="layui-input-inline">
							<select name="type" lay-verify="">
								<option value="0">全部</option>
								{volist name="types" id="vo"}
								<option value="{$vo['id']}">{$vo['name']}</option>
								{/volist}
							</select>
							</div>
						</div>
						
						<div class="layui-form-item layui-inline">
							<button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="news-query">
								<i class="layui-icon layui-icon-search"></i>
								查询
							</button>
							<button type="reset" class="pear-btn pear-btn-md">
								<i class="layui-icon layui-icon-refresh"></i>
								重置
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="layui-card">
			<div class="layui-card-body">
				<table id="news-table" lay-filter="news-table"></table>
			</div>
		</div>

		<script type="text/html" id="news-toolbar">
			<button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
		        <i class="layui-icon layui-icon-add-1"></i>
		        新增
		    </button>
		    <button class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
		        <i class="layui-icon layui-icon-delete"></i>
		        删除
		    </button>
		</script>
		
		<script type="text/html" id="news-bar">
			<button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i></button>
		    <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i></button>
		</script>
		
		<script type="text/html" id="imgTpl">
  			<img src="{{d.headimg_small}}" style="height:100px;" />
		</script>

		<script src="__STATIC__/lib/layui/layui.js"></script>
		<script src="__PEAR__/component/pear/pear.js"></script>
		<script>
			layui.use(['table', 'form', 'jquery','common'], function() {
				let table = layui.table;
				let form = layui.form;
				let $ = layui.jquery;
				let common = layui.common;
		  	
		  		let MODULE_PATH = "/{$MODULE_NAME}/news/";

				let cols = [
					[{
							type: 'checkbox'
						},
						{
							title: '编号',
							field: 'id',
							align: 'center',
							width: 100
						},
						{
							title: '新闻名称',
							field: 'title',
							align: 'center'
						},
						{
							title: '新闻分类',
							field: 'category',
							align: 'center'
						},
						{
							title: '新闻小图',
							field: 'headimg_small',
							align: 'center',
							templet: '#imgTpl'
						},
						{
							title: '添加时间',
							field: 'time',
							align: 'center'
						},
						{
							title: '更新时间',
							field: 'lastedit_time',
							align: 'center'
						},
						{
							title: '操作',
							toolbar: '#news-bar',
							align: 'center',
							width: 130
						}
					]
				]

				table.render({
					elem: '#news-table',
					url: MODULE_PATH+"getList",
					page: true,
					cols: cols,
					skin: 'line',
					toolbar: '#news-toolbar',
					defaultToolbar: []
				});

				table.on('tool(news-table)', function(obj) {
					if (obj.event === 'remove') {
						window.remove(obj);
					} else if (obj.event === 'edit') {
						window.edit(obj);
					}
				});

				table.on('toolbar(news-table)', function(obj) {
					if (obj.event === 'add') {
						window.add();
					} else if (obj.event === 'refresh') {
						window.refresh();
					} else if (obj.event === 'batchRemove') {
						window.batchRemove(obj);
					}
				});

				form.on('submit(news-query)', function(data) {
					table.reload('news-table', {
						where: data.field,
						page:{curr:1}
					})
					return false;
				});

				window.add = function() {
					layer.open({
						type: 2,
						title: '新增新闻',
						shade: 0.1,
						area: [common.isModile()?'100%':'800px', common.isModile()?'100%':'600px'],
						content: MODULE_PATH + 'addNews.html'
					});
				}

				window.edit = function(obj) {
					var _id=obj.data.id;
					layer.open({
						type: 2,
						title: '编辑新闻',
						shade: 0.1,
						area: ['800px', '600px'],
						content: MODULE_PATH + 'addNews/id/'+_id+'.html'
					});
				}

				window.remove = function(obj) {
					layer.confirm('确定要删除该新闻?', {
						icon: 3,
						title: '删除提示'
					}, function(index) {
						layer.close(index);
						let loading = layer.load();
						$.ajax({
							url: MODULE_PATH + "del/id/" + obj.data['id'],
							dataType: 'json',
							type: 'delete',
							success: function(result) {
								layer.close(loading);
								if (result.code) {
									layer.msg(result.msg, {
										icon: 1,
										time: 1000
									}, function() {
										obj.del();
									});
								} else {
									layer.msg(result.msg, {
										icon: 2,
										time: 1000
									});
								}
							}
						})
					});
				}

				window.batchRemove = function(obj) {
					
					var checkIds = common.checkField(obj,'id');
					
					if (checkIds === "") {
						layer.msg("未选中数据", {
							icon: 3,
							time: 1000
						});
						return false;
					}
					
					layer.confirm('确定要删除这些新闻?', {
						icon: 3,
						title: '提示'
					}, function(index) {
						layer.close(index);
						let loading = layer.load();
						$.ajax({
							url: MODULE_PATH + "batchDelete/id/" + checkIds,
							dataType: 'json',
							type: 'delete',
							success: function(result) {
								layer.close(loading);
								if (result.code) {
									layer.msg(result.msg, {
										icon: 1,
										time: 1000
									}, function() {
										table.reload('news-table');
									});
								} else {
									layer.msg(result.msg, {
										icon: 2,
										time: 1000
									});
								}
							}
						})
					});
				}

				window.refresh = function(param) {
					table.reload('news-table');
				}
			})
		</script>
	</body>
</html>
