<form class="layui-form" action="" onsubmit="return false">

<div class="layui-row">
<div class="layui-form-item">
		    <div class="layui-input-block">
		    	<input id="rdoCheck_0" lay-filter="formulaRadio" type="radio" name="rdoCheck" value="0" title="(X)天的平均销售数量* 安全天数(Y)">
		    </div>
	    
</div>

<div class="layui-form-item">
	    <div class="layui-input-block">
	    	<input id="rdoCheck_1" type="radio" lay-filter="formulaRadio" name="rdoCheck" value="1" title="(X)天的平均直调出库量* 安全天数(Y)">
	    </div>
</div>
<div class="layui-form-item">
	    <div class="layui-input-block">
	    	<input id="rdoCheck_2" type="radio" lay-filter="formulaRadio" name="rdoCheck" value="2" checked="checked" title="默认库存数">
	    </div>
</div>
</div>

<div class="layui-row">
	
	<div class="layui-form-item  layui-col-md9">
	 	<div class="layui-input-block layui-col-md3">
	 		<select name="stockFlag" id="stockFlag" lay-filter="formulaFlag">
                        <option selected="selected" value="0">上限</option>
                        <option value="1">下限</option>
	      	</select>
	      </div>
	      
	      <div class="layui-input-block layui-col-md6" id="divcal1" style="display: none;margin-left:5px;">
		 	 <input name="saleDay" type="text" id="saleDay" style="width: 50px;float:left;" value="0" class="layui-input">
             <label class="layui-form-label" style="float:left;width:100px;">天的平均数量 *</label>
	         <input name="probDay" type="text" id="probDay" style="width: 50px;float:left;" value="0" class="layui-input">
	     </div>
	     
        <div class="layui-input-block layui-col-md3" id="divcal2" style="display: inline-block;margin-left:5px;">
	 	 		<input name="txtNum" type="text" id="txtNum" maxlength="9" style="width: 80px;" class="layui-input">
     	</div>
	      
     </div>
     
</div>

</form>