<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>编辑留言类别</title>
    <link rel="stylesheet" href="__PEAR__/component/pear/css/pear.css" />
</head>
<body>
<form class="layui-form" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
            
                  <div class="layui-form-item">
				    <label class="layui-form-label">类别名称</label>
				    <div class="layui-input-inline">
				      <input type="text" name="txtCtgName" value="{$one['ctg_name']}" required  lay-verify="required" placeholder="请输入位置名称" autocomplete="off" class="layui-input">
				    </div>
				  </div>
				  
 				  <div class="layui-form-item">
				   <div class="layui-col-md6">
				   	<label class="layui-form-label">描述</label>
				   </div>
					<div class="layui-col-md6">
						<textarea name="txtDescription" placeholder="" class="layui-textarea" style="width:500px;">{$one['description']}</textarea>
					</div>
				  </div>
				  
				  <div class="layui-form-item">
				    <label class="layui-form-label">排序</label>
				    <div class="layui-input-inline">
				      <input type="text" name="txtPriority" value="{$one['priority']}" required  lay-verify="required" placeholder="请输入位置名称" autocomplete="off" class="layui-input">
				    </div>
				  </div>
				  
        		<input name="txtCtgno" type="hidden" value="{$one['guestbook_ctg_id']}"/>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit="" lay-filter="category-save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="pear-btn pear-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
<script src="__STATIC__/lib/layui/layui.js"></script>
<script src="__PEAR__/component/pear/pear.js"></script>
<script>
layui.use(['form','jquery'],function(){
    let form = layui.form;
    let $ = layui.jquery;
    var path="/{$MODULE_NAME}/portal/Guestbookctg";
	var _url="/save";

    form.on('submit(category-save)', function(data){
        $.ajax({
            url:path+_url,
            data:JSON.stringify(data.field),
            dataType:'json',
            contentType:'application/json',
            type:'post',
            success:function(result){
                if(result.code){
                    layer.msg(result.msg,{icon:1,time:1000},function(){
                        parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                        parent.layui.table.reload("category-table");
                    });
                }else{
                    layer.msg(result.msg,{icon:2,time:1000});
                }
            }
        })
        return false;
    });
})
</script>
<script>
</script>
</body>
</html>