 <div class="layui-form-item">
    <label class="layui-form-label">会员价2</label>
    <div class="layui-input-inline">
      <input name="vip_price2" type="text" value="0.00" id="vip_price2"  class="layui-input">
    </div>
     <label class="layui-form-label">配送费</label>
    <div class="layui-input-inline">
      <input name="shipment_spec" type="text" value="0.00" id="shipment_spec"  class="layui-input">
    </div>
  </div>
  
   <div class="layui-form-item">
     <label class="layui-form-label">批发价1</label>
    <div class="layui-input-inline">
       <input name="base_price1" type="text" value="0.00" id="base_price1" class="layui-input">
    </div>
    
    <label class="layui-form-label">批发价2</label>
    <div class="layui-input-inline">
      <input name="base_price2" type="text" value="0.00" id="base_price2" class="layui-input">
    </div>
  </div>
  
  <div class="layui-form-item">
     <label class="layui-form-label">批发价3</label>
    <div class="layui-input-inline">
        <input name="base_price3" type="text" value="0.00" id="base_price3" class="layui-input">
    </div>
    
    <label class="layui-form-label">批发价4</label>
    <div class="layui-input-inline">
      <input name="base_price4" type="text" value="0.00" id="base_price4" class="layui-input">
    </div>
  </div>