 <div class="layui-form-item">
    <label class="layui-form-label">有效期</label>
    <div class="layui-input-inline">
      <input name="num2" type="text" value="0.00" id="num2" class="layui-input">天
    </div>
    
    <label class="layui-form-label">产地</label>
    <div class="layui-input-inline">
      <input name="product_area" type="text" value='' id="product_area" class="layui-input"/>
    </div>
  </div>
  
 <div class="layui-form-item">
    <label class="layui-form-label">进项税</label>
    <div class="layui-input-inline">
      <input name="purchase_tax" type="text" value="0.00" id="purchase_tax" class="layui-input">
    </div>
    
    <label class="layui-form-label">采购周期</label>
    <div class="layui-input-inline">
      <input name="po_cycle" type="text" value="0.00" id="po_cycle" class="layui-input">
    </div>
  </div>
  
   <div class="layui-form-item">
    <label class="layui-form-label">商品状态</label>
    <div class="layui-input-inline">
      <select name="status" id="status">
            <option value="0">0|停购,销售</option>
            <option value="1" selected>1|正常</option>
            <option value="2">2|淘汰</option>
            <option value="3">3|采购,停售</option>
            <option value="4">4|停购,停售</option>
        </select>
    </div>
    
    <label class="layui-form-label">销项税</label>
    <div class="layui-input-inline">
      <input name="sale_tax" type="text" value="0.00" id="sale_tax" class="layui-input" >
    </div>
  </div>
  
 <div class="layui-form-item">
    <label class="layui-form-label">积分值</label>
    <div class="layui-input-inline">
      <input name="vip_acc_num" type="text" value="0.00" id="vip_acc_num" class="layui-input">
    </div>
    
    <label class="layui-form-label">商品备注</label>
    <div class="layui-input-inline">
      <input name="other1" type="text" maxlength="200" id="other1"  class="layui-input">
    </div>
  </div>
  
   <div class="layui-form-item">
    <label class="layui-form-label">创建人</label>
    <div class="layui-input-inline">
       <input name="txtBuildMan" type="text" value="管理员" id="txtBuildMan" disabled="disabled" class="layui-input">
    </div>
    
    <label class="layui-form-label">创建日期</label>
    <div class="layui-input-inline">
      <input name="build_date" type="text" value="" id="build_date" disabled="disabled" class="layui-input">
    </div>
  </div>
  
  <div class="layui-form-item">
    <label class="layui-form-label">修改人</label>
    <div class="layui-input-inline">
       <input name="txtModiOper" type="text" value="管理员" id="txtModiOper" disabled="disabled" class="layui-input">
    </div>
    
    <label class="layui-form-label">修改日期</label>
    <div class="layui-input-inline">
      <input name="modify_date" type="text" value="" id="modify_date" disabled="disabled" class="layui-input">
    </div>
  </div>