 <div class="layui-form-item">
    <label class="layui-form-label">商品货号</label>
    <div class="layui-input-inline">
      <input type="text" name="item_no" value="{$one['item_no']}" maxlength="40" required  lay-verify="required" placeholder="请输入商品货号" autocomplete="off" class="layui-input">
    </div>
    
    <label class="layui-form-label">商品名称</label>
    <div class="layui-input-inline">
      <input type="text" name="item_name" value="{$one['item_name']}" required  lay-verify="required" placeholder="请输入商品名称" autocomplete="off" class="layui-input">
    </div>
  </div>
  
   <div class="layui-form-item">
    <label class="layui-form-label">自编码</label>
    <div class="layui-input-inline">
      <input type="text" name="item_subno" value="{$one['item_subno']}" maxlength="40" required  lay-verify="required" placeholder="请输入自编码" autocomplete="off" class="layui-input">
    </div>
    
    <label class="layui-form-label">助记码</label>
    <div class="layui-input-inline">
      <input type="text" name="item_rem" value="{$one['item_rem']}" placeholder="请输入助记码" autocomplete="off" class="layui-input">
    </div>
  </div>
  
 <div class="layui-form-item">
    <label class="layui-form-label">品 牌</label>
    <div class="layui-input-inline">
      <select name="brand" id='brand'>
             <option value="">请选择品牌</option>
             {volist name="brandarr" id="vo"}
             <option value="{$vo.code_id}|{$vo.code_name}" {if condition="$one['item_brand'] eq $vo['code_id']"}selected="selected"{/if}>{$vo.code_name}</option>
             {/volist}
         </select>
    </div>
    
    <label class="layui-form-label">简 称</label>
    <div class="layui-input-inline">
      <input type="text" name="item_subname" value="{$one['item_subname']}" placeholder="请输入简 称" autocomplete="off" class="layui-input">
    </div>
  </div>
  
   <div class="layui-form-item">
    <label class="layui-form-label">商品分类</label>
    <div class="layui-input-inline">
        <select name="item_clsno" id='item_clsno'>
                <option value="">请选择商品分类</option>
                {volist name="clsarr" id="vo"}
                <option value="{$vo.item_clsno}" {if condition="$clsno eq $vo['item_clsno'] OR $one['item_clsno'] eq $vo['item_clsno']"}selected="selected"{/if}>{$vo.item_clsno}|{$vo.item_clsname}</option>
                {/volist}
            </select>
    </div>
    
    <label class="layui-form-label">规 格</label>
    <div class="layui-input-inline">
      <input type="text" name="item_size" value="{$one['item_size']}" placeholder="请输入规 格" autocomplete="off" class="layui-input">
    </div>
  </div>
  
  <div class="layui-form-item">
    <label class="layui-form-label">供应商</label>
    <div class="layui-input-inline">
        <select id='mian_supcust' name='mian_supcust'>
                <option value="">请选择供应商</option>
                {volist name="suparr" id="vo"}
                <option value="{$vo.sp_no}" {if condition="$vo['sp_no'] eq $one['main_supcust']"}selected="selected"{/if}>{$vo.sp_no}|{$vo.sp_company}</option>
                {/volist}
            </select>
    </div>
    
    <label class="layui-form-label">单 位</label>
    <div class="layui-input-inline">
      <input type="text" name="unit_no" value="{$one['unit_no']}" placeholder="请输入商品单位" autocomplete="off" class="layui-input">
    </div>
  </div>
  
  <div class="layui-form-item">
    <label class="layui-form-label">经营方式</label>
    <div class="layui-input-inline">
      <input value="购销" disabled='disabled' class="layui-input"/>
    </div>
    
    <label class="layui-form-label">联营扣率</label>
    <div class="layui-input-inline">
      <input type="text" value="0.00" disabled='disabled' class="layui-input"/>
    </div>
  </div>
  
  <div class="layui-form-item">
    <label class="layui-form-label">进货规格</label>
    <div class="layui-input-inline">
      <input name="purchase_spec" type="text" value="{$one['purchase_spec']}" id="purchase_spec" class="layui-input"/>
    </div>
    
    <label class="layui-form-label">毛利率</label>
    <div class="layui-input-inline">
      <input type="text" value="{$txtMlRate}" id="txtMlRate" class="layui-input"/>
    </div>
  </div>
  
  <div class="layui-form-item">
    <label class="layui-form-label">商品类型</label>
    <div class="layui-input-inline">
      <select name="combine_sta" id='combine_sta'>
                <option value="0" {if condition="$one['combine_sta'] eq 0"} selected{/if}>普通商品</option>
                <option value="1" {if condition="$one['combine_sta'] eq 1"} selected{/if}>捆绑商品</option>
                <option value="2" {if condition="$one['combine_sta'] eq 2"} selected{/if}>制单拆分</option>
                <option value="3" {if condition="$one['combine_sta'] eq 3"} selected{/if}>制单组合</option>
                <option value="6" {if condition="$one['combine_sta'] eq 6"} selected{/if}>自动转货</option>
                <option value="7" {if condition="$one['combine_sta'] eq 7"} selected{/if}>自动加工</option>
       </select>
    </div>
    
    <label class="layui-form-label">计价方式</label>
    <div class="layui-input-inline">
    	<select name="num3" id='num3'>
        		<option value="0" {if condition="$one['num3'] eq 0"} selected{/if}>普通</option>
                <option value="1" {if condition="$one['num3'] eq 1"} selected{/if}>计重</option>
                <option value="2" {if condition="$one['num3'] eq 2"} selected{/if}>计数</option>
        </select>
    </div>
  </div>
  
  <div class="layui-form-item">
    <label class="layui-form-label">进 价</label>
    <div class="layui-input-inline">
      <input name="price" type="text" value="{$one['price']}" maxlength="40" id="price" class="layui-input" onchange="autoCacluate();" >
    </div>
    
    <label class="layui-form-label">零售价</label>
    <div class="layui-input-inline">
      <input name="sale_price" type="text" value="{$one['sale_price']}" id="sale_price" class="layui-input" onchange="autoCacluate();">
    </div>
  </div>
  
    
  <div class="layui-form-item">
    <label class="layui-form-label">批发价</label>
    <div class="layui-input-inline">
      <input name="base_price" type="text" value="{$one['base_price']}" maxlength="40" id="base_price" class="layui-input">
    </div>
    
    <label class="layui-form-label">最低售价</label>
    <div class="layui-input-inline">
      <input name="sale_min_price" type="text" value="{$one['sale_min_price']}" id="sale_min_price" class="layui-input">
    </div>
  </div>
  
  <div class="layui-form-item">
    <label class="layui-form-label">配送价</label>
    <div class="layui-input-inline">
      <input name="trans_price" type="text" value="{$one['trans_price']}" maxlength="40" id="trans_price" class="layui-input">
    </div>
    
    <label class="layui-form-label">会员价1</label>
    <div class="layui-input-inline">
      <input name="vip_price" type="text" value="{$one['vip_price']}" id="vip_price" class="layui-input">
    </div>
  </div>
  
  <div class="layui-form-item">
   	<label class="layui-form-label">前台打折</label>
    <div class="layui-input-inline">
      <input id="change_price" type="checkbox" {if condition="$one['change_price'] eq 1"}checked="checked"{/if} name="change_price" value='1' title="是">
    </div>
    <label class="layui-form-label">前台议价</label>
    <div class="layui-input-inline">
      <input id="is_focus" type="checkbox" {if condition="$one['is_focus'] eq 1"}checked="checked"{/if} name="is_focus" value='1' title="是">
    </div>
  </div>
  
  <div class="layui-form-item">
    <label class="layui-form-label">是否积分</label>
    <div class="layui-input-inline">
      <input id="vip_acc_flag" type="checkbox" {if condition="$one['vip_acc_flag'] eq 1"}checked="checked"{/if} name="vip_acc_flag" value='1' title="是">
    </div>
    
    <label class="layui-form-label">线上配送</label>
    <div class="layui-input-inline">
       <input id="is_open" type="checkbox" {if condition="$one['is_open'] eq 1"}checked="checked"{/if} name="is_open" value='1' title="是">
    </div>
  </div>
  
  <div class="layui-form-item">
    <label class="layui-form-label">是否批发</label>
    <div class="layui-input-block">
      <input id="is_pifa" type="checkbox" {if condition="$one['is_pifa'] eq 1"}checked="checked"{/if} name="is_pifa" value='1' title="是">
    </div>
   
  </div>