<div class="" id="bp_div">
<div class=" layui-form">
	<div class="layui-form-item">
	    <label class="layui-form-label">分店编号</label>
	    <div class="layui-input-inline">
	      <select name="bp_branch_no" id="bp_branch_no" lay-filter="bp_branch_no">
	        <option value=""></option>
	        {volist name="branchs" id="vo"}
	        <option value="{$vo['branch_no']}">{$vo['branch_no']}  | {$vo['branch_name']}</option>
	        {/volist}
	      </select>
	    </div>
	 </div>
	 <div class="layui-form-item">
	    <label class="layui-form-label">供应商</label>
	    <div class="layui-input-inline">
	      <select name="bp_sp_no" id="bp_sp_no" lay-filter="bp_sp_no">
	        <option value=""></option>
	        {volist name="suparr" id="vo"}
	        <option value="{$vo['sp_no']}">{$vo['sp_no']} | {$vo['sp_name']}</option>
	        {/volist}
	      </select>
	    </div>
	 </div>
	<div class="layui-form-item">
	    <label class="layui-form-label">进货价</label>
	    <div class="layui-input-inline">
	      <input type="text" name="bp_price" id="bp_price" placeholder="请输入进货价" value="0" autocomplete="off" class="layui-input">
	    </div>
	 </div>
	 <div class="layui-form-item">
	   <label class="layui-form-label">零售价</label>
	   <div class="layui-input-inline">
	     <input type="text" name="bp_sale_price" id="bp_sale_price" placeholder="请输入批发价" value="0" autocomplete="off" class="layui-input">
	   </div>
	 </div>
	 <div class="layui-form-item">
	   <label class="layui-form-label">批发价</label>
	   <div class="layui-input-inline">
	     <input type="text" name="bp_base_price" id="bp_base_price" placeholder="请输入批发价" value="0" autocomplete="off" class="layui-input">
	   </div>
	 </div>
	 <div class="layui-form-item">
	   <label class="layui-form-label">会员价</label>
	   <div class="layui-input-inline">
	     <input type="text" name="bp_vip_price" id="bp_vip_price" placeholder="请输入会员价" value="0" autocomplete="off" class="layui-input">
	   </div>
	 </div>
</div>
</div> 

<table style="width: 100%; height: 28px;" border="0" cellpadding="0" cellspacing="0">
  <tbody>
  	<tr>
      <td align="left">
        <input type="button" class="pear-btn pear-btn-primary" name="btnAddBranchPrice" id="btnAddBranchPrice" value="添加记录"/>
      </td>
    </tr>
  </tbody>
</table>

<div class="layui-card">
	<div class="layui-card-body">
		<table id="branchprice-table" lay-filter="branchprice-table"></table>
	</div>
</div>

