<table style="width: 100%; height: 28px;" border="0" cellpadding="0" cellspacing="0">
  <tbody><tr>
      <td style="width: 100px" align="right">
        <b>商品附加条码：</b>
      </td>
      <td style="width: 280px">
        <input name="txtAddBarcode" type="text" id="txtAddBarcode" class="layui-input" style="width:250px;">
      </td>
      <td align="right">
        <input type="button" class="pear-btn pear-btn-primary" name="btnAddBarcode" id="btnAddBarcode" value="添加条码"/>
      </td>
    </tr>
  </tbody>
</table>

<div class="layui-card">
	<div class="layui-card-body">
		<table id="barcode-table" lay-filter="barcode-table"></table>
	</div>
</div>




