<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>支付方式列表</title>
		<link rel="stylesheet" href="__PEAR__/component/pear/css/pear.css" />
		<link rel="stylesheet" href="__PEAR__/admin/css/other/department.css"/>
	</head>
	<body class="pear-container">
	<!-- 使用改包含页面之前，必须首先引入layui和pear -->
	<div class="layui-row layui-col-space15">
			<div class="layui-col-md12">
				<div class="layui-card">
					
					<div class="layui-card-body" style="width:100%;overflow-x:scroll">
					<form class="layui-form" action="">
							<div class="layui-form-item" style="margin-bottom:0;">
								<div class="layui-form-item layui-inline">
									<button type="button" class="pear-btn pear-btn-md pear-btn-warming" id="callback">
										<i class="pear-icon pear-icon-back"></i>
										确定返回
									</button>
								</div>
							</div>
					</form>
						<table id="payment-table" lay-filter="payment-table"></table>
					</div>
				</div>
			</div>
		</div>

		<script src="__STATIC__/lib/layui/layui.js"></script>
		<script src="__PEAR__/component/pear/pear.js"></script>
		<script src="__STATIC__/js/admin/common.js"></script>
		<script>
			layui.use(['table', 'form', 'jquery'], function() {
				let table = layui.table;
				let form = layui.form;
				let $ = layui.jquery;
				
				let MODULE_PATH = "/{$MODULE_NAME}/common/";
				let DATA_PATH = MODULE_PATH+"index/";

				let cols = [
					[
						{
							type: 'radio',
						},
						{
							title: '编码',
							field: 'pay_way',
							align: 'left',
							width:80,
						},
						{
							title: '名称',
							field: 'pay_name',
							align: 'left',
							width:120,
						},
						{
							title: '汇率',
							field: 'rate',
							align: 'left',
							width:120,
						}
					]
				]

				table.render({
					elem: '#payment-table',
					url: DATA_PATH+'getPaymentMethod',
					width:750,
					height: 430,
					cellMinWidth: 100,
					page: true,
					cols: cols,
					skin: 'line',
					toolbar: false,
					defaultToolbar: []
				});
				
				var  active = {
						getCheckData: function(){ //获取选中数据
						      var checkStatus = table.checkStatus('payment-table')
						      					,data = checkStatus.data;
								if(data.length ==0){
									layer.msg("请选择支付方式");
									return;
								}
								
								parent.callBackPayment(data);
					    }
				}
				//确认返回按钮点击事件
				$('#callback').on('click', function(){
					     active['getCheckData'].call(this);
					     return;
				});
			})
		</script>
	</body>
</html>